<div class="vc-table-container margin">
  <div fxLayout fxLayoutAlign=" center">
    <app-table-search-header fxFlex (search)="onSearch($event)"></app-table-search-header>
    <ng-content></ng-content>
  </div>


  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
      <mat-cell *matCellDef="let projectDependency"> {{projectDependency.dependency.title}} </mat-cell>
    </ng-container>

    <!-- License Column -->
    <ng-container matColumnDef="license">
      <mat-header-cell *matHeaderCellDef mat-sort-header> License </mat-header-cell>
      <mat-cell *matCellDef="let projectDependency"> {{projectDependency.dependency.license}} </mat-cell>
    </ng-container>

    <!-- currentVersion Column -->
    <ng-container matColumnDef="currentVersion">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Current Version </mat-header-cell>
      <mat-cell *matCellDef="let projectDependency"> {{ projectDependency.currentVersion }} </mat-cell>
    </ng-container>

    <!-- installedVersion Column -->
    <ng-container matColumnDef="installedVersion">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Installed Version </mat-header-cell>
      <mat-cell *matCellDef="let projectDependency"> {{ projectDependency.installedVersion }} </mat-cell>
    </ng-container>

    <!-- latestVersion Column -->
    <ng-container matColumnDef="latestVersion">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Latest Version </mat-header-cell>
      <mat-cell *matCellDef="let projectDependency"> {{ projectDependency.latestVersion }} </mat-cell>
    </ng-container>

    <!-- wantedVersion Column -->
    <ng-container matColumnDef="wantedVersion">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Wanted Version </mat-header-cell>
      <mat-cell *matCellDef="let projectDependency"> {{ projectDependency.wantedVersion }} </mat-cell>
    </ng-container>

    <!-- bump Column -->
    <ng-container matColumnDef="bump">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Bump </mat-header-cell>
      <mat-cell *matCellDef="let projectDependency" style="max-width: 150px"> {{ projectDependency.bump }} </mat-cell>
    </ng-container>

    <!-- IsDevDependency Column -->
    <ng-container matColumnDef="isDevDependency">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Is Dev </mat-header-cell>
      <mat-cell *matCellDef="let projectDependency" style="max-width: 150px"> {{ projectDependency.isDevDependency }} </mat-cell>
    </ng-container>

    <!-- Created Column -->
    <ng-container matColumnDef="createdDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width: 150px"> Created </mat-header-cell>
      <mat-cell *matCellDef="let projectDependency" style="max-width: 150px"> {{ projectDependency.createdDate | date:'yyyy-MM-dd
        HH:mm' }}</mat-cell>
    </ng-container>

    <!-- Modified Column -->
    <ng-container matColumnDef="modifiedDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width: 150px"> Modified </mat-header-cell>
      <mat-cell *matCellDef="let projectDependency" style="max-width: 150px"> {{ projectDependency.modifiedDate | date:'yyyy-MM-dd
        HH:mm' }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row)" class="clickable {{row.bump}}"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSize]="100" [showFirstLastButtons]="true">
  </mat-paginator>
</div>